<% if @range == 'user' %>
	<h3>Users search for "<%= @search %>"</h3>
  <%= render 'users/index', users: @users %>
<% elsif @range == 'book' %>
	<h3>Books search for "<%= @search %>"</h3>
  <%= render 'books/index', books: @books %>
<% end %>